<div class="container">

    <div class="jumbotron">
        <h2>{{"articles.title" | translate}}</h2>

        <dl>
            <dt>Gists</dt>
            <dd class="list-unstyled">
                <a href="https://gist.github.com/remibantos/0ace22c8256dfacf19e7" target="_blank">Microservices -
                    Cheat sheet</a>
            </dd>
            <dd class="list-unstyled">
                <a href="https://gist.github.com/remibantos/33c366803f189db9b225" target="_blank">Message Driven Beans
                    with Wildfly and Websphere MQ</a>
            </dd>
            <dd class="list-unstyled">
                <a href="https://gist.github.com/remibantos/5e86829e1ba6ad64eea1" target="_blank">Wildfly - HTTP cache
                    headers tuning for a rich client web application </a>
            </dd>
        </dl>

    </div>
</div>

