<div class="container">

    <div class="jumbotron">
        <h2>{{"projects.title"|translate}}</h2>

        <p>
        <dl>
            <dt>{{"projects.owned" | translate}}</dt>
            <dd class="list-unstyled">
                <a href="http://www.jeeshop.org" target="_blank">Jeeshop</a> <a
                    href="https://github.com/remibantos/jeeshop"><span class="fa fa-github"></span></a>- A e-commerce
                solution using Java EE and AngularJS
            </dd>
            <dd class="list-unstyled">
                SFQuizz <a href="https://github.com/remibantos/sfquizz"><span class="fa fa-github"></span></a>- Sample
                of Android quizz application using <a href="https://github.com/roboguice/roboguice" target="_blank">roboguice</a>
                for DI
            </dd>
        </dl>
        <dl>
            <dt>{{"projects.contributions" | translate}}</dt>
            <dd class="list-unstyled">
                Guice <a href="https://github.com/google/guice"><span class="fa fa-github"></span></a>- A lightweight
                dependency injection framework for Java 6 and above
            </dd>
            <dd class="list-unstyled">
                <a href="https://www.openshift.com" target="_blank">OpenShift</a> WildFly Cartridge<a href="https://github.com/openshift-cartridges/openshift-wildfly-cartridge"><span class="fa fa-github"></span></a>
            </dd>
            <dd class="list-unstyled">
                PHING <a href="https://github.com/phingofficial/phing"><span class="fa fa-github"></span></a>- A PHP
                project build system based on Apache ANT
            </dd>
            <dd class="list-unstyled">
                Jelix <a href="https://github.com/jelix/jelix"><span class="fa fa-github"></span></a>- A PHP5 framework
            </dd>
        </dl>
        </p>
    </div>

</div>